<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Chat Room</title>
</head>
<style>
.h1, h1 {
    font-size: 20pt;
}
#msg_panel {
    width: 600px;
    height: 400px;
    border: 1px solid #606060;
    overflow: scroll;
}
#users_list {
    width: 100px;
    height: 470px;
    border: 1px solid #606060;
}
#new_msg {
    width: 555px;
    border: 1px solid #606060;
}
fieldset {
    border: 1px solid #C0C0C0;
}
</style>
<body>
<table>
    <tr>
        <td>
            <span class="h1">Simple Chat Room - </span>
            <span class="h1" th:text="${nickname}" />
        </td>
        <td>
            <form method="post" action="/logout">
                <input name="nickname" type="hidden" th:value="${nickname}" />
                <input type="submit" value="Logout" />
            </form>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <fieldset>
                <legend>Message:</legend>
                <div id="msg_panel"></div>
            </fieldset>
        </td>
        <td rowspan="2">
            <fieldset>
                <legend>Current Users:</legend>
                <select id="users_list" size="2" onclick="setMsgReceiver(this)"></select>
            </fieldset>
        </td>
    </tr>
    <tr valign="bottom">
        <td>
            <fieldset>
                <legend>Please input your message, and press ENTER to send:</legend>
                <input id="nickname" type="hidden" th:value="${nickname}" />
                <input id="new_msg" type="text" onkeydown="trySendMessage(this, event)" />
                <input type="submit" value="Send" onclick="sendMessage()" />
            </fieldset>
        </td>
    </tr>
</table>
<script src="js/sockjs_1.1.4.min.js"></script>
<script src="js/stomp_1.2.min.js"></script>
<script src="js/chat.js"></script>
</body>
</html>
