<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Chat Room</title>
</head>
<style>
.h1, h1 {
    font-size: 20pt;
}
.errMsg {
    color: red;
    font-size: 10pt;
}
</style>
<body>
<h1>Simple Chat Room</h1>
<p>Please input your name:</p>
<form method="post" action="/login">
    <input name="nickname" type="text" />
    <input type="submit" value="Login" />
</form>
<p class="errMsg" th:text="${errMsg}"></p>
</body>
</html>
